body {
  font-family: sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 20px;
}

.nav {
  background-color: white;
  padding: 20px 10px;

  border-radius: 5px;

  display: flex;
  align-items: center;

  .item {
    display: inline-block;
    cursor: pointer;

    margin: 0px 5px;

    &.newPost a, &.signUp a, &.signIn a {
      color: darken(#00ff00, 10%);
      border: 1px solid darken(#00ff00, 10%);
    }

    &.signOut button {
      cursor: pointer;
      font-size: 16px;
      color: darken(#ff0000, 10%);
      border: 1px solid darken(#ff0000, 10%);
    }

    a, button {
      background-color: transparent;
      -webkit-appearance: none;

      border-radius: 5px;
      padding: 10px;
      text-decoration: none;

      color: black;
    }
  }

  > .item:nth-child(2) {
    margin-left: auto;
  }
}

.new, .post {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;

  label {
    display: block;
  }

  input, textarea {
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
  }

  button, a {
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: white;
    padding: 10px;
    text-decoration: none;

    color: black;

    font-size: 14px;

    margin: 10px 3px;
    cursor: pointer;
  }

  button {
    color: darken(#00ff00, 10%);
    border: 1px solid darken(#00ff00, 10%);
  }

  a, .delete {
    color: darken(#ff0000, 10%);
    border: 1px solid darken(#ff0000, 10%);
  }

  h3 {
    text-decoration: underline;
    margin: 0;
  }

  h4 {
    font-weight: normal;
    margin: 2px 0;
    font-size: 0.8em;
  }

  h5 {
    font-weight: normal;
    margin: 8px 0;
    font-size: 16px;

    &:before {
      content: "Tags: ";
    }
  }
}

.posts {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;

  h3 {
    margin: 0 0 10px 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border: 1px solid black;
      border-radius: 5px;
      margin: 2px 0;

      display: flex;
      align-items: center;

      padding-right: 10px;

      a {
        color: black;
        padding: 10px;
        display: block;

        flex: 1;
      }
    }
  }
}